/*
 *  GLOBAL
 *  Default settings
 *
 */

*,*:before,*:after {
	box-sizing: border-box;
	-webkit-touch-callout:none;
	user-select:none;
	-webkit-user-drag:none;
	outline:0!important
}

html{
	// font-size:62.5%;
	text-rendering:optimizeLegibility!important;
	-webkit-font-smoothing:antialiased!important;
    -webkit-text-size-adjust:100%;
    -moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.app-drupal {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


@include media-breakpoint-up(xl) {
    html{
        font-size:110%;
    }
}
@include media-breakpoint-up(xxl) {
    html{
        font-size:120%;
    }
}
