/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/


.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-cover-child {
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.accelerated {
  -webkit-transform: transale3d(0,0,0);
  -moz-transform: transale3d(0,0,0);
  -ms-transform: transale3d(0,0,0);
  -o-transform: transale3d(0,0,0);
  transform: transale3d(0,0,0);

  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s ;
}


.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.vh-10 { height: 10vh !important; }
.vh-20 { height: 20vh !important; }
.vh-30 { height: 30vh !important; }
.vh-40 { height: 40vh !important; }
.vh-50 { height: 50vh !important; }
.vh-60 { height: 60vh !important; }
.vh-70 { height: 70vh !important; }
.vh-80 { height: 80vh !important; }
.vh-90 { height: 90vh !important; }

.h-px-100 { height: 100px !important; }
.h-px-150 { height: 150px !important; }
.h-px-200 { height: 200px !important; }
.h-px-250 { height: 250px !important; }
.h-px-300 { height: 300px !important; }
.h-px-350 { height: 350px !important; }
.h-px-400 { height: 400px !important; }
.h-px-450 { height: 450px !important; }
.h-px-500 { height: 500px !important; }
.h-px-550 { height: 550px !important; }
.h-px-600 { height: 600px !important; }
.h-px-650 { height: 650px !important; }
.h-px-700 { height: 700px !important; }
.h-px-750 { height: 750px !important; }
.h-px-800 { height: 800px !important; }
.h-px-850 { height: 850px !important; }
.h-px-900 { height: 900px !important; }
.h-px-950 { height: 950px !important; }
.h-px-1000 { height: 1000px !important; }

.swiper-container {
    width: 100%;
    height: 100%;
}

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    // background: #fff;

    /* Center slide text vertically */

    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    // -ms-flex-align: center;
    // -webkit-align-items: center;
    // align-items: center;
    flex-flow: column;
  }

  .swiper-button-next, .swiper-button-prev {
      color: #fff!important;
  }

  .swiper-pagination-bullet-active {
      background: #fff!important;
  }

  .swiper-pagination-bullet {
      width: 15px!important;
      height: 15px!important;
  }


  .type-swiper-gallery {

    .swiper-slide {
      text-align: center;
      background: #fff;
      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
      perspective: 70rem;
    }

    // Image Accordions General
    .container-general {
      width: 100%;
      .gallery-wrap {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 70vh;
        .slide-item {
          flex: 1;
          height: 100%;
          background-position: center;
          background-size: cover;
          background-repeat: none;
          transition: all 0.8s ease;
          &:hover {
            flex: 7;
          }
        }
      }
    }
}


// Image Accordions Effect 1
.wrap-effect-1 {
  .slide-item {
    &:hover {
      transform: translate3d(0, 0, 100px);
      box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
      filter: saturate(2) contrast(120%);
    }
  }
}


/*
*
* ==========================================
* OPEN ACCORDION
* ==========================================
*
*/
/* Horizontal line */
.collapsible-link::before {
    content: '';
    width: 14px;
    height: 2px;
    background:$primary;
    position: absolute;
    top: calc(50% - 1px);
    right: 1rem;
    display: block;
    transition: all 0.3s;
  }
  
  /* Vertical line */
  .collapsible-link::after {
    content: '';
    width: 2px;
    height: 14px;
    background: $primary;
    position: absolute;
    top: calc(50% - 7px);
    right: calc(1rem + 6px);
    display: block;
    transition: all 0.3s;
  }
  
  .collapsible-link[aria-expanded='true']::after {
    transform: rotate(90deg) translateX(-1px);
  }
  
  .collapsible-link[aria-expanded='true']::before {
    transform: rotate(180deg);
  }
  
  .collapsible-link {
    border:0px solid $primary;
     p {
      margin: 0;
    }
  }



  .card-border-hack {
    border: 1.5rem solid transparent;
    border-radius: 1.75rem;
    background-clip: padding-box;
  }
/*
*
* ==========================================
* OPEN MODAL
* ==========================================
*
*/

.modal {
    background-image: radial-gradient(919px at 1.7% 6.1%, rgba(221, 94, 137, 0.9) 0%, rgba(247, 187, 151, 0.8) 100.2%);
    .modal-content {
      z-index: 0;
      .row {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
.close {
  position: absolute;
 
  right: 0px;
  z-index: 1;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  color:$primary;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background:  white!important;
  opacity: 1;
  text-shadow: none;
}


.btn-modal {
  &:focus{
    box-shadow: none!important;
  }

  p{
    margin: 0!important;
  }
}

/*
*
* ==========================================
* FX CLASSES
* ==========================================
*
*/

.neon-blue-fx {
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
 from {
     color: #fff;
   text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
 }
 to {
    color: gray;
   text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
 }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-1-14 23:4:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */

@keyframes text-pop-up-top {
  0% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    transform: translateY(-50px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

.text-pop-up-top {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* ----------------------------------------------
 * Generated by Animista on 2021-1-14 23:9:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.text-focus-in {
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-1-14 23:11:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-blur-out
 * ----------------------------------------
 */
 @keyframes text-blur-out {
  0% {
    filter: blur(0.01);
  }
  100% {
    filter: blur(12px) opacity(0%);
  }
}

.text-blur-out {
	animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}