// Page: Footer
// -----------------------------------------------------------------------------
.page__footer, .paragraph--id--1408 {

background-color: #fff;

}

.nav-link-footer {
    color: white;
}
.nav-link-footer:hover {
    text-decoration: underline;
}
